
.flex-container {
    display: flex;
    background-color: #3A836A;
    height: 60px;
}
  
.flex-container > div {
    color: white;
    margin: 10px;
    font-size: 30px;
  }

  .flex-container > div  > a{
    text-decoration: none;
    color: white;
    cursor: pointer;
  }