
.flex-container {
    display: flex;
    background-color: #3A836A;
    height: 60px;
}
  
.flex-container > div {
    color: white;
    margin: 10px;
    font-size: 30px;
  }

  .flex-container > div  > .header__nav-link{
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-right: 15px;
    text-transform: uppercase;
  }