.r2d2__body {
    margin: 0;
    padding: 0;
    color: #040404;
    font-size: 16px;
    line-height: 24px;
  }
  .r2d2__body .container {
    width: 90%;
    max-width: 1146px;
    padding: 0 13px;
    margin: 0 auto;
  }
  .r2d2__body h1, .r2d2__body h2, .r2d2__body h3 {
    margin-top: 0;
  }
  .r2d2__body img {
    max-width: 100%;
    display: block;
  }
  .r2d2__body .row {
    margin: 0 -13px;
    display: flex;
    flex-wrap: nowrap;
  }
  .r2d2__body [class*=col-] {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 0 13px;
  }
  @media (min-width: 768px) {
    .r2d2__body .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  @media (min-width: 768px) {
    .r2d2__body .col-md-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
  }
  @media (min-width: 768px) {
    .r2d2__body .col-md {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
  }
  .r2d2__breadcrumb {
    margin-bottom: 20px;
  }
  .r2d2__breadcrumb img {
    vertical-align: middle;
    display: inline-block;
    max-width: 16px;
    margin-right: -10px;
  }
  .r2d2__breadcrumb span, .r2d2__breadcrumb a {
    vertical-align: middle;
    font-size: 14px;
    line-height: 18px;
    color: #040404;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
  }
  
  .r2d2__btn {
    padding: 0 12px;
    font-size: 18px;
    line-height: 24px;
    background-color: green;
    border-radius: 0;
    color: whitesmoke;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    outline: 0;
    min-height: 40px;
    border: 0;
    font-size: 14px;
    cursor: pointer;
  }
  .r2d2__btn:hover {
    background-color: rgba(0, 128, 0, 0.7);
  }
  .r2d2__btn:focus {
    outline: 0;
    box-shadow: none;
  }
  
  .r2d2__input {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #040404;
    min-width: 100px;
    height: 40px;
    padding: 7px 10px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .r2d2pdp {
    margin: 50px 0;
  }
  .r2d2pdp ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .r2d2pdp__thumb {
    width: 90px;
  }
  .r2d2pdp__thumb li {
    margin-bottom: 15px;
  }
  .r2d2pdp__details {
    padding-left: 40px;
  }
  .r2d2pdp__price {
    text-decoration: line-through;
    margin-right: 10px;
    font-size: 18px;
    line-height: 30px;
  }
  .r2d2pdp__discount {
    font-size: 24px;
    line-height: 30px;
  }
  .r2d2pdp__aviablity {
    color: green;
    font-size: 14px;
    margin-left: 30px;
  }
  .r2d2pdp__cart {
    margin-top: 30px;
    display: flex;
  }
  .r2d2pdp__cart .r2d2__input {
    margin-right: 20px;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .r2d2pdp__cart .r2d2__btn {
    width: 100%;
  }
  .r2d2pdp__recycle {
    margin: 20px 0;
    display: flex;
  }
  .r2d2pdp__recycle .r2d2__btn {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    min-width: 125px;
  }
  .r2d2pdp__recycle .r2d2__input {
    margin-right: 20px;
    width: 100%;
  }
  .r2d2pdp__offer {
    padding: 20px;
    background-color: azure;
    margin-top: 30px;
  }
  .r2d2pdp__offer p {
    margin-top: 0;
  }

  .r2d2-video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .r2d2-video-container iframe:first-child {
    margin-top: 15px;
  }

  .r2d2-video-container iframe {
    margin-bottom: 15px;
  }